<%- include('_partials/head'); %>

<h1 class="jumbotron text-center">Api Receitas</h1>
<div class="container">
  <h3>Receitas</h3>
  <a href="/recipies">/recipies </a><span style="font-size: 8px">x8182</span>
  <hr>
  <h3>API</h3>
  <p>Api criada apenas para servir dados de receitas retirado do repositório do <a href="https://github.com">github</a>.
  </p>
  <p>
    <a target="_blank" href="https://github.com/adrianosferreira/afrodite.json">afrodite.json</a></p>
  </p>
</div>

<%- include('_partials/footer'); %>